/* 首页CSS样式 */

/* 快捷导航区域（shortcut） */
.shortcut {
    height: 52px;
    background-color: #333;
}

.shortcut .wrapper {
    /* 父级设置flex */
    display: flex;
    /* 设置主轴对齐方式flex-end，靠右侧排列 */
    justify-content: flex-end;

    height: 52px;
}

.shortcut ul {
    /* 父级设置flex */
    display: flex;

    /* 行高设置与高度一直，文字垂直居中效果 */
    line-height: 52px;
    
}

.shortcut li a {
    padding: 0 15px;
    border-right: 1px solid #999;

    font-family: PingFangSC-Regular;
    font-size: 14px;
    color: #fff;
}

.shortcut li:nth-child(7) a {
    border-right: 0;
}

.shortcut li .iconfont {
    margin-right: 4px;
    /* 文字垂直居中 */
    vertical-align: middle;
}

.shortcut li .login {
    color: #5eb69c;
}


/* 头部区域（header） */

.header {
    /* 父级设置flex */
    display: flex;

    margin: 22px auto;
    height: 88px;
    
}

/* logo */
.logo {
    margin-right: 40px;
    width: 200px;
    height: 88px;
}

.logo a {
    /* a标签默认不可更改宽高，转换为块级显示模式 */
    display: block;

    /* 设置宽高 */
    width: 200px;
    height: 88px;

    /* logo图作为背景 */
    background-image: url(../images/logo.png);

    /* 隐藏文字 */
    font-size: 0;
}

/* 导航栏 */
.nav {
    margin-top: 33px;
    margin-right: 28px;
}

.nav ul {
    /* 父级设置flex */
    display: flex;
}

.nav li a{
    display: block; 
    margin-right: 48px;
    padding-bottom: 8px;
}

.nav li .active,
.nav li a:hover {
    color: #5EB69C;
    border-bottom: 2px solid #5EB69C;
}

/* 搜索栏 */
.search {
    /* 父级设置flex */
    display: flex;

    margin-top: 33px;
    margin-right: 45px;

    width: 170px;
    height: 34px;
    border-bottom: 2px solid #f4f4f4;
}

.search .iconfont {
    margin-right: 8px;
    font-size: 18px;
    color: #ccc;
}

.search input {
    /* 把input的默认宽度更改为零，然后用flex分配，剩下的空间都给input */
    flex: 1;
    width: 0;
}

.search input::placeholder {
    font-size: 16px;
    color: #ccc;
}

/* 购物车 */
.cart {
    /* 父级相对定位 */
    position: relative;
    margin-top: 34px;
}

.cart .iconfont {
    font-size: 24px;
}

.cart i {
    /* 子级绝对定位 */
    position: absolute;
    top: 1px;
    left: 15px;
    /* right定位右对齐，内容会从右向左撑开，如果文字多了可能会覆盖其他内容 */
    /* right: 1px; */

    padding: 0 6px;
    border-radius: 8px;
    background-color: #e26237;

    height: 15px;
    line-height: 15px;
    font-size: 14px;
    color: #fffefe;
}


/* 底部区域 */
.footer {
    margin-top: 40px;
    height: 580px;
    background-color: #F5F5F5;
}

/* 服务区域 */
.service {
    padding: 60px 0;
    height: 178px;
    border-bottom: 1px solid #E8E8E8;

}

.service ul {
    /* 父级设置flex */
    display: flex;
    justify-content: space-evenly;
}

.service li {
    /* 父级设置flex */
    display: flex;

    width: 190px;
    height: 58px;
}

.service li h4 {
    margin-right: 20px;

    width: 58px;
    height: 58px;
    background-image: url(../images/sprite.png);
    /* 溢出隐藏 */
    overflow: hidden;
}

.service li:nth-child(2) h4 {
    background-position-y: -58px;
}

.service li:nth-child(3) h4 {
    background-position-y: -116px;
}

.service li:nth-child(4) h4 {
    background-position-y: -174px;
}

.service p {
    font-size: 28px;
    line-height: 58px;
}


/* 帮助中心区域 */
.help {
    /* 父级设置flex */
    display: flex;
    justify-content: space-between;

    padding-top: 60px;
    height: 302px;
}

.help .left {
    /* 父级设置flex */
    display: flex;
}

.help .left dl {
    margin-right: 84px;
}

.help .left:last-child dl {
    margin-right: none;
}

.help .left dt {
    margin-bottom: 30px;

    font-size: 18px;
}

.help .left dd a {
    color: #969696;
}

.help .left .iconfont {
    margin-left: 5px;

    color: #5EB69C;
}

.help .right ul {
    /* 父级设置flex */
    display: flex;
}

.help .right li:first-child {
    margin-right: 55px;
    background-image: url(../images/wechat.png);
    background-repeat: no-repeat;
}

.help .right li:nth-child(2) {
    background-image: url(../images/wechat.png);
    background-repeat: no-repeat;
}

.help .right div {
    margin-bottom: 10px;

    width: 120px;
    height: 120px;
}

.help .right p {
    color: #969696;
    text-align: center;
}




/* 版权区域 */
.copyright {
    margin: 0 auto;
    height: 60px;

    text-align: center;
}

.copyright p {
    margin-bottom: 10px;

    color: #A1A1A1;
}

.copyright p a{
    margin: 0 10px;

    color: #A1A1A1;
}